@model WeatherApplication.Models.Weather

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Weather</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Weather_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weather_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.degree)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Weather_Num }) |
    @Html.ActionLink("Back to List", "Index")
</p>
